.TimeBox {
  margin: auto;
  width: 500px;
  background-color: #262626;
  border-radius: 4rem;
  padding: 2rem 2rem;
}

.TimeBox h1 {
  color: var(--secondary-color);
  font-family: var(--font-family);
}

.TimeBox h1 span {
  color: var(--primary-color);
}

.TimeBox hr {
  background-color: var(--secondary-color);
}

.TimeBox .buttons-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.TimeBox .buttons-container button {
  /*background: transparent;*/
  border: 1px solid var(--secondary-color);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  /*color: var(--secondary-color);*/
  font-size: 1.2rem;
}

.TimeBox p{
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 1rem;
  color: var(--secondary-color);
  padding-top: 1rem;
  margin: 0;
}